<!-- @TODO: Possibly redundant -->
<div class="buffering" [ngClass]="{active: loading == true}">
  <mat-spinner></mat-spinner>
</div>
<div class="notRegistered" *ngIf="!user.isRegistered">
  <span>
    You are not registered for this event
  </span>
</div>
<div class="withdraw" *ngIf="!user.isPaid && event.ended">
  <button mat-raised-button (click)="withdrawTokens()" [disabled]="userPaid">
    Withdraw tokens
  </button>
</div>
<div class="wasPaid" >
  <span *ngIf="user.isPaid">
    You have withdraw your tokens sucessfully
  </span>
</div>