<div class="buffering" [ngClass]="{active: loading == true}">
    <mat-spinner></mat-spinner>
</div>
<button mat-raised-button *ngIf="state !== 'init'" (click)="state = 'init'" >
    Back
</button>
<app-init-screen *ngIf="state == 'init'" (selection)="onSelection($event)" ></app-init-screen>
<app-create *ngIf="state == 'create'" (publishContract)="onDeploy($event)" ></app-create>
<app-fetch *ngIf="state == 'fetch'" [deployedEvents]="events" (contractAddress)="onFetch($event)" ></app-fetch>
<app-admin-screen  *ngIf="state == 'admin'"></app-admin-screen>
<app-attendee-screen ></app-attendee-screen>
<app-payout-screen ></app-payout-screen>
