<div class="buffering" [ngClass]="{active: loading == true}">
    <mat-spinner></mat-spinner>
</div>
<button mat-raised-button *ngIf="state !== 'INIT'" (click)="state = 'INIT'" >
    Back
</button>
<app-init-screen *ngIf="state == 'INIT'" (selection)="onSelection($event)" ></app-init-screen>
<app-create *ngIf="state == 'CREATE'" (publishContract)="onDeploy($event)" ></app-create>
<app-fetch *ngIf="state == 'FETCH'" [deployedEvents]="events" (contractAddress)="onFetch($event)" ></app-fetch>
<app-admin-screen  *ngIf="state == 'ADMIN'" [event]="currentEvent" ></app-admin-screen>
<app-attendee-screen *ngIf="state == 'ADMIN'" [event]="currentEvent" [user]="user"></app-attendee-screen>
<app-payout-screen *ngIf="state == 'ADMIN'" [event]="currentEvent" [user]="user"></app-payout-screen>
