footer{
    margin-top: 80px;
    height: 80px;
    position: relative;
    width: 100%;
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-color: rgba(0,0,0, 0.2);
    }
}
