.buffering {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba(45, 96, 142, 0.5);
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition-duration: 200ms;
    >* {
        opacity: 0;
        visibility: hidden;
        transition-delay: 100ms;
        transition-duration: 200ms;
    }
    &.active {
        visibility: visible;
        display: flex;
        opacity: 1;
        >* {
            visibility: visible;
            opacity: 1;
        }
    }
}