<div class="buffering" [ngClass]="{active: loading == true}">
  <mat-spinner></mat-spinner>
</div>
<div class="event-details">
  <div class="label mat-title">
    <h3>
      {{event?.name}}
    </h3>
  </div>
  <div class="row data">
    <div>
      <div class="label mat-title">
        Total Staked:
      </div>
      <div class="value mat-body2">
        (Needs to be wired)
      </div>
    </div>
    <div *ngIf="event?.ended">
      <div class="label mat-title">
        This event has ended
      </div>
    </div>
    <div *ngIf="!vent?.ended">
      <div class="label mat-title">
        Number tickets available:
      </div>
      <div class="value mat-body2">
        {{event?.limitOfParticipants - event?.registered}} / {{event?.limitOfParticipants}}
      </div>
    </div>
    <div *ngIf="!event?.ended">
      <div class="label mat-title">
        RSVP stake:
      </div>
      <div class="value mat-body2">
        {{event?.deposit}}
      </div>
    </div>
  </div>
</div>
<div class="controls">
  <div class="control" *ngIf="!event?.ended">
    <mat-form-field>
      <input matInput type="number" #newLimit [min]="event?.registered" [placeholder]="event?.limitOfParticipants">
      <mat-hint align="end">{{ newLimit.value === event.limitOfParticipants ? "Valid" : "Invalid" }}</mat-hint>
    </mat-form-field>
    <button mat-raised-button (click)="changeLimit(newLimit.value)" [disabled]="!(newLimit.value !== event.limitOfParticipants || event.registered <= newLimit.value)">
      Change participant limit
    </button>
  </div>
  <div class="attend-control" *ngIf="!event?.ended">
    <ul>
      <li *ngFor="let attendee of attending">{{attendee}}</li>
    </ul>
    <mat-form-field hintLabel="Please enter a valid address">
      <input matInput #attendInput maxlength="42" placeholder="0x8888f1f195afa192cfee860698584c030f4c9db1">
    </mat-form-field>
    <button mat-raised-button (click)="addToSubmission(attendInput.value)" [disabled]="attending.indexOf(attendInput.value) >= 0 || !isValidAddress(attendInput.value)">
      Add to list
    </button>
    <button mat-raised-button (click)="manualSubmitAttendance()" [disabled]="!attending.length > 0">
      Submit to event contract
    </button>
  </div>
  <button mat-raised-button (click)="endEvent()" *ngIf="!event?.ended">
    End & Payback
  </button>
  <button mat-raised-button (click)="cancelEvent()" *ngIf="!event?.ended">
    Cancel Event
  </button>
  <button mat-raised-button [disabled]="true">
    Clear Remaining ETH (Not wired yet)
  </button>
</div>
<div class="checking-tools">
  <div class="control">
    <mat-form-field hintLabel="Please enter a valid address">
      <input matInput #checkUser maxlength="42" placeholder="0x8888f1f195afa192cfee860698584c030f4c9db1">
      <mat-hint align="end">{{ isValidAddress(checkUser.value) ? "Valid" : "Invalid" }}</mat-hint>
    </mat-form-field>
    <button mat-raised-button [disabled]="!isValidAddress(checkUser.value)">
      Check user state (Notwired up yet)
    </button>
  </div>
</div>