<div class="event-details">
  <div class="label">
    <h3>
      {{name}}
    </h3>
  </div>
  <div class="label">
    <span>
      Number tickets available:
    </span>
    {{registered}} / {{limit}}
  </div>
  <div class="label">
    <span>
      RSVP stake:
    </span>
    {{deposit}}
  </div>
</div>
<div class="pending-rsvp">
  check if stake available
  <button mat-raised-button [disabled]="">
    RSVP Now
  </button>
</div>
<div class="rsvp-confirmed">
  You have RSVP'd for {{name}}
</div>