<div class="event-details">
  <div class="label">
    <h3>
      {{event?.name}}
    </h3>
  </div>
  <div class="label">
    <span>
      Number tickets available:
    </span>
    {{event?.limitOfParticipants - event?.registered}} / {{event?.limitOfParticipants}}
  </div>
  <div class="label">
    <span>
      RSVP stake:
    </span>
    {{event?.deposit}}
  </div>
</div>
<div class="pending-rsvp" *ngIf="userRsvp === 'false'">
  <button mat-raised-button (click)="rsvp()" [disabled]="event?.deposit > balance">
    RSVP Now
  </button>
</div>
<div class="rsvp-confirmed" *ngIf="userRsvp === 'true'">
  You have RSVP'd for {{event?.name}}
</div>