<div class="fetchArea">
  <h3>
    Access event
  </h3>
  <p>
    If you are looking for a specific event, please input it's contract address and hit the fetch button.
  </p>
  <mat-form-field hintLabel="Please enter a valid address">
    <input matInput #selectedEvent maxlength="42" placeholder="0x8888f1f195afa192cfee860698584c030f4c9db1">
    <mat-hint align="end">{{ isValidAddress(selectedEvent.value) ? "Valid" : "Invalid" }}</mat-hint>
  </mat-form-field>
  <mat-form-field *ngIf="deployedEvents?.length > 0">
    <mat-select [(value)]="selectedEvent.value" >
      <mat-option value="">Select an existing event</mat-option>
      <mat-option *ngFor="let event of deployedEvents" [value]="event">{{event}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button (click)="fetchContract(selectedEvent.value)" [disabled]="!isValidAddress(selectedEvent.value) || loading">
    Fetch event
  </button>
</div>
<hr>
<div class="deployArea">
  <h3>
    Create Event
  </h3>
  <p>
    If you would like to create an event, please click the create button, your wallet provider should request you sign a contract deploying transaction.
  </p>
  <button mat-raised-button [disabled]="loading">
    Deploy Party Contract
  </button>
</div>