.top , .bottom{
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
}
.bottom{
  margin-top: 30px;
}

.profile {
  width: 100%;
  .profile-image {
    text-align: center;
  }
  img {
    max-width: 200px;
    border: 1px solid gray;
  }
}

