.token-details{
    text-align: left;
    .balances{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
    }
    .refresh{
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }
}
.row{
    margin: 15px 0;
}