<div class="buffering" [ngClass]="{active: loading == true}">
  <mat-spinner></mat-spinner>
</div>
<div class="token-details">
  <h3 class="mat-h2">
    Balances
  </h3>
  <div class="balances">
    <div class="row">
      <span class="label mat-h4">
        Earned
      </span>
      <span class="value mat-body">
        {{ user?.issued }}
      </span>
    </div>
    <div class="row">
      <span class="label mat-h4">
        Tokens
      </span>
      <span class="value mat-body">
        {{ user?.balance }}
      </span>
    </div>
  </div>
  <div class="row">
    <button mat-raised-button class="refresh" (click)="loadBalances()">
      Refresh Balances
    </button>
    <button mat-raised-button *ngIf="user?.issued == 0" (click)="claimTokens()">
      Claim Gift
    </button>
  </div>
  <!-- <div class="row">
    <p>
      Here you can send token's to your friends or ERC223 compliant contracts
    </p>
    <mat-form-field hintLabel="Please enter a valid address">
      <input matInput #sendAddress maxlength="42" placeholder="0x8888f1f195afa192cfee860698584c030f4c9db1">
      <mat-hint align="end">{{ isValidAddress(sendAddress.value) ? "Valid" : "Invalid" }}</mat-hint>
    </mat-form-field>
    <button mat-raised-button [disabled]="!isValidAddress(sendAddress.value)">
      Transfer tokens
    </button>
  </div> -->
</div>