.token-details{
    margin-top: 20px;
    width: 100%;
}
.row{
    box-sizing: border-box;
    padding-left: 15px;
    > span {
        display: inline-block;
        &:first-child{
            width: 40%;
            min-width: 100px;
        }
    }
}