

.fetchArea{
    $spacing: 30px;
    
    margin-bottom: $spacing;
    .mat-form-field {
        display: block;
    }
    button{
        margin-top: $spacing;
        // width: 90%;
        // left: 50%;
        // transform: translateX(-50%);
    }
}