<div class="buffering" [ngClass]="{active: loading == true}">
  <mat-spinner></mat-spinner>
</div>
<div class="event-details">
  <div class="row">
    <h3 class="label mat-title">
      {{event?.name}}
    </h3>
  </div>
  <div class="row">
    <div class="wallet-address label">
      <span class="mat-h4">Address: </span>
      <a class="mat-body" href="https://rinkeby.etherscan.io/address/{{event?.address}}">{{event?.address}}</a>
    </div>
  </div>
  <div class="row">
    <span class="label mat-h4">
      Total Staked:
    </span>
    <span class="value mat-body">
      {{event?.totalBalance}}
    </span>
  </div>
  <div *ngIf="!event.ended" class="row data">
    <span class="label mat-h4">
      Number tickets available:
    </span>
    <span class="value mat-body">
      {{event?.limitOfParticipants - event?.registered}} / {{event?.limitOfParticipants}}
    </span>
  </div>
  <div *ngIf="!event.ended" class="row data">
    <span class="label mat-h4">
      RSVP stake:
    </span>
    <span class="value mat-body">
      {{event?.deposit}}
    </span>
  </div>
  <div *ngIf="event.ended" class="row">
    <span class="label mat-h4">
      This event has ended
    </span>
  </div>
</div>
<div class="controls">
  <div class="control limit" *ngIf="!event.ended">
    <span class="mat-h3">
      Change participant limit
    </span>
    <mat-form-field>
      <input matInput type="number" #newLimit [min]="event?.registered" [placeholder]="event?.limitOfParticipants">
      <mat-hint align="end">{{ newLimit.value === event.limitOfParticipants ? "Valid" : "Invalid" }}</mat-hint>
    </mat-form-field>
    <button mat-raised-button (click)="changeLimit(newLimit.value)" [disabled]="!(newLimit.value !== event.limitOfParticipants || event.registered <= newLimit.value)">
      Change participant limit
    </button>
  </div>
  <div class="attend-control" *ngIf="!event.ended">

    <mat-form-field hintLabel="Please enter a valid address">
      <input matInput #attendInput maxlength="42" placeholder="0x8888f1f195afa192cfee860698584c030f4c9db1">
    </mat-form-field>
    <button mat-raised-button (click)="addToSubmission(attendInput.value)" [disabled]="attending.indexOf(attendInput.value) >= 0 || !isValidAddress(attendInput.value)">
      Add to list
    </button>
    <ul>
      <li *ngFor="let attendee of attending">
        <a class="mat-body" href="https://rinkeby.etherscan.io/address/{{attendee}}">{{attendee}}</a>
      </li>
    </ul>
    <button mat-raised-button (click)="manualSubmitAttendance()" [disabled]="!attending.length > 0">
      Confirm attendance
    </button>
  </div>
  <div class="buttons">
    <button mat-raised-button (click)="endEvent()" *ngIf="!event.ended">
      End & Payback
    </button>
    <button mat-raised-button (click)="cancelEvent()" *ngIf="!event.ended">
      Cancel Event
    </button>
  </div>
  <!-- <button mat-raised-button [disabled]="true">
    Clear Remaining ETH (Not wired yet)
  </button> -->
</div>