<div class="buffering" [ngClass]="{active: loading == true}">
  <mat-spinner></mat-spinner>
</div>
<div class="event-details">
  <div class="label">
    <h3 class="mat-title">
      {{event?.name}}
    </h3>
    <h4 class="mat-body2">
      {{event?.address}}
    </h4>
  </div>
  <div class="row">
    <span class="label mat-h4">
      Total Staked:
    </span>
    <span class="value mat-body">
      (Needs to be wired)
    </span>
  </div>
  <div *ngIf="!event.ended" class="row data">
    <span class="label mat-h4">
      Number tickets available:
    </span>
    <span class="value mat-body">
      {{event?.limitOfParticipants - event?.registered}} / {{event?.limitOfParticipants}}
    </span>
  </div>
  <div *ngIf="!event.ended" class="row data">
    <span class="label mat-h4">
      RSVP stake:
    </span>
    <span class="value mat-body">
      {{event?.deposit}}
    </span>
  </div>
  <div *ngIf="event.ended" class="row">
    <span class="label mat-h4">
      This event has ended
    </span>
  </div>
</div>
<div class="controls">
  <div class="control" *ngIf="!event.ended">
    <mat-form-field>
      <input matInput type="number" #newLimit [min]="event?.registered" [placeholder]="event?.limitOfParticipants">
      <mat-hint align="end">{{ newLimit.value === event.limitOfParticipants ? "Valid" : "Invalid" }}</mat-hint>
    </mat-form-field>
    <button mat-raised-button (click)="changeLimit(newLimit.value)" [disabled]="!(newLimit.value !== event.limitOfParticipants || event.registered <= newLimit.value)">
      Change participant limit
    </button>
  </div>
  <div class="attend-control" *ngIf="!event.ended">
    <ul>
      <li *ngFor="let attendee of attending">{{attendee}}</li>
    </ul>
    <mat-form-field hintLabel="Please enter a valid address">
      <input matInput #attendInput maxlength="42" placeholder="0x8888f1f195afa192cfee860698584c030f4c9db1">
    </mat-form-field>
    <button mat-raised-button (click)="addToSubmission(attendInput.value)" [disabled]="attending.indexOf(attendInput.value) >= 0 || !isValidAddress(attendInput.value)">
      Add to list
    </button>
    <button mat-raised-button (click)="manualSubmitAttendance()" [disabled]="!attending.length > 0">
      Submit to event contract
    </button>
  </div>
  <button mat-raised-button (click)="endEvent()" *ngIf="!event.ended">
    End & Payback
  </button>
  <button mat-raised-button (click)="cancelEvent()" *ngIf="!event.ended">
    Cancel Event
  </button>
  <button mat-raised-button [disabled]="true">
    Clear Remaining ETH (Not wired yet)
  </button>
</div>
<!-- @TODO: replace with user grid manager -->
<!-- <div class="checking-tools">
  <div class="control">
    <mat-form-field hintLabel="Please enter a valid address">
      <input matInput #checkUser maxlength="42" placeholder="0x8888f1f195afa192cfee860698584c030f4c9db1">
      <mat-hint align="end">{{ isValidAddress(checkUser.value) ? "Valid" : "Invalid" }}</mat-hint>
    </mat-form-field>
    <button mat-raised-button [disabled]="!isValidAddress(checkUser.value)">
      Check user state (Notwired up yet)
    </button>
  </div>
</div> -->