<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="12">
    <mat-grid-tile colspan="3" rowspan="3">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <span class="mat-title">
              Welcome {{user?.name}}!
            </span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <img class="profile" [src]="user?.avatar" [alt]="user?.name">
          <div>
            Some paragraph text saying hello or something then directing to the free token section
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="3">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <span class="mat-title">
              Protea Token Manager
            </span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-account-manager></app-account-manager>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="20">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <span class="mat-title">
              Protea Party Manager
            </span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-party-controller></app-party-controller>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>