<div class="buffering" [ngClass]="{active: loading == true}">
    <mat-spinner></mat-spinner>
</div>
<button mat-raised-button class="back" *ngIf="state !== 'FETCH'" (click)="state = 'FETCH'" >
    Back
</button>
<app-create *ngIf="state == 'CREATE'" (publishContract)="onDeploy($event)" ></app-create>
<app-fetch *ngIf="state == 'FETCH'" [deployedEvents]="events" (contractAddress)="onFetch($event)" (createNewEvent)="onCreate()"></app-fetch>
<app-admin-screen  *ngIf="state == 'ADMIN'" [event]="currentEvent" ></app-admin-screen>
<app-attendee-screen *ngIf="state == 'ATTENDEE'" [event]="currentEvent" [user]="user"></app-attendee-screen>
<app-payout-screen *ngIf="state == 'PAYOUT'" [event]="currentEvent" [user]="user"></app-payout-screen>
    